body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1eef571;
    margin: 0;
}

.calculator {
    background-color: #94b490;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
}

.display {
    background-color: #20691d;
    color: #ffffff;
    font-size: 2em;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 25px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.btn {
    background-color: #86d4ad;
    border: none;
    padding: 20px;
    font-size: 2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f3ebeb;
}
